body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("background.GIF");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

img{
  pointer-events: none;
  user-select: none;
}
.titlepng
{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin: auto;
}
.container
{
    display: flex;
    flex-direction: row;
    gap: 15vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);

}

  .instructions{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #backhref{
    text-decoration: none;
    color: #ed8092;
    background-color: transparent;
  }

  .frontbuttons{
    transition: 0.5s;
  }
  .frontbuttons:hover{
    transform: scale(1.1);
  }
  .backbutton{
    text-align: center;
    margin: auto;
    font-family: 'VT323', monospace;
    font-size: 46px;
    margin-top: 89vh;
    text-decoration: none;
    color: #ed8092;
    border: 4px;
    border-radius: 4px;
    border-style: solid;
    width: 11vw;
    background-color: pink;
    transition: 0.5s;
  }

  .backbutton:hover{
    transform: scale(1.1);

  }
  .footer{
    font-family: 'VT323', monospace;
    color: #ceffab;
    font-size: 18px;
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p{
    text-align: center;
    margin:auto;

  }

  
