body {
    background-color: rgb(57, 124, 88);
    display: grid;
    grid-template-rows: 150px 400px 80px 80px;
    grid-template-areas:
        "title"
        "screen"
        "message"
        "choices";
    color: white;

}

.title {
    grid-area: title;
    margin: auto;
    width: 400px;
    margin-top: -1px;
}

#screen {
    grid-area: screen;
}

#background-image {
    display: flex;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 10px;
}

#image-choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -280px;
    padding-left: 5%;
    padding-right: 5%;
}

#your-choice {
    width: 150px;
    padding: 20px;
    background-image: url("cloud.GIF");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 100px;
}

#comp-choice {
    width: 150px;
    padding: 20px;
    background-image: url("cloud.GIF");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 100px;
}

.choices {
    grid-area: choices;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}

.choices img {
    width: 80%;
    margin-top: 30px;
}

#choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.img-left {
    width: 100%;
}

.img-right {
    width: 100%;
    transform: scaleX(-1);
}

.message {
    grid-area: message;
    color: white;
    font-size: 20px;
    margin: auto;
}

#winner-message {
    font-size: 24px;
}

@media only screen and (max-width: 1064px) {
    #choices {
            justify-content: center;
    }
}

@media only screen and (max-width: 830px) {
    .screen {
        transform: scale(0.8);
    }

    body {
        grid-template-rows: 100px 350px 80px 80px;
    }

    .choices img {
        width: 70%;
    }

    .choices {
        margin-left: auto;
        margin-right: auto;
    }
}

