
body {
    background-color: rgb(245, 224, 255);
    display: grid;
    grid-template-rows: 80px 400px 80px 100px;
    grid-template-areas:
        "title"
        "screen"
        "message"
        "choices";
    padding: 20px;

}

h1{
    grid-area: title;
}

#screen {
    grid-area: screen;
}

#image-choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -280px;
    padding-left: 250px;
    padding-right: 250px;
}

#background-image {
    display: flex;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#your-choice {
    width: 150px;
    padding: 20px;
    background-image: url("cloud.GIF");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#comp-choice {
    width: 150px;
    padding: 20px;
    background-image: url("cloud.GIF");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.choices {
    grid-area: choices;
}

#choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#choices img {
    width: 200px;
}

.img-left {
    width: 150px;
}

.img-right {
    width: 150px;
    transform: scaleX(-1);
}

.message {
    grid-area: message;
    background-color: chartreuse;
}

#winner-message {
    color: blue;
    font-size: 24px;
}